<div style="height: 45%; display: flex;">
  <mat-form-field style="width: 100%;">
    <mat-label>SQL</mat-label>
    <textarea matInput placeholder="Informe o SQL..." style="resize: none"></textarea>
  </mat-form-field>
</div>

<div style="height: 45%; display: flex;">
  <mat-form-field style="width: 100%;">
    <mat-label>Mensagem</mat-label>
    <textarea matInput placeholder="Informe a mensagem.." style="resize: none"></textarea>
  </mat-form-field>
</div>

<div style="display: flex; justify-content: end;">
  <button mat-button color="primary">Enviar</button>
</div>
