.full-width {
  height: 100%;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.div-message {
  margin-top: 15px;
  height: 44%;
  display: flex;
  flex-direction: column; /* configura a direção do flex container como coluna */
  overflow-y: auto;
}

.mat-form-field-message {
  flex: 1; /* permite que o mat-form-field ocupe todo o espaço disponível */
  width: 100%;
  display: flex;
}

.textarea-message {
  resize: none; /* desabilita o redimensionamento manual */
  height: 80%; /* define a altura do textarea como uma altura fixa */
  max-height: 80%; /* define a altura máxima do textarea como a mesma altura fixa */
  overflow-y: auto;
}
