<div class="full-width d-flex-column">
<div class="div-message">
  <mat-form-field class="mat-form-field-message">
    <mat-label>SQL</mat-label>
    <textarea class="textarea-message" placeholder="Informe o SQL..." matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"></textarea>
  </mat-form-field>
</div>

<div class="div-message">
  <mat-form-field class="mat-form-field-message">
    <mat-label>Mensagem</mat-label>
    <!-- <textarea matInput placeholder="Informe a mensagem.." style="resize: none"></textarea> -->
    <textarea class="textarea-message" placeholder="Informe a mensagem..." matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"></textarea>
  </mat-form-field>
</div>

<div style="display: flex; justify-content: end;">
  <button mat-button color="primary">Enviar</button>
</div>
</div>
