<div class="full-width d-flex-column">
  <form [formGroup]="form">
    <div>
      <mat-form-field class="mat-form-field">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" type="text" placeholder="Informe o título da mensagem">
        <!-- <mat-error>{{nome.errors | erro}}</mat-error> -->
      </mat-form-field>
    </div>

    <div class="div-textarea">
      <mat-form-field class="mat-form-field">
        <mat-label>SQL</mat-label>
        <textarea formControlName="sql" class="textarea" placeholder="Informe o SQL..." matInput cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"></textarea>
      </mat-form-field>
    </div>

    <div class="div-textarea">
      <mat-form-field class="mat-form-field">
        <mat-label>Mensagem</mat-label>
        <!-- <textarea matInput placeholder="Informe a mensagem.." style="resize: none"></textarea> -->
        <textarea formControlName="message" class="textarea" placeholder="Informe a mensagem..." matInput cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
