<form [formGroup]="form" class="full-height d-flex-column">
  <div>
    <mat-form-field class="mat-form-field">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" type="text" placeholder="Informe o título da mensagem">
      <!-- <mat-error>{{nome.errors | erro}}</mat-error> -->
    </mat-form-field>
  </div>

  <div class="full-height">
    <mat-form-field class="mat-form-field half-height" dynamicTextAreaMaxHeightByFormField>
      <mat-label>SQL</mat-label>
      <textarea formControlName="sql" placeholder="Informe o SQL..." matInput cdkTextareaAutosize></textarea>
    </mat-form-field>

    <mat-form-field class="mat-form-field half-height" dynamicTextAreaMaxHeightByFormField>
      <mat-label>Mensagem</mat-label>
      <textarea formControlName="message" placeholder="Informe a mensagem..." matInput cdkTextareaAutosize></textarea>
    </mat-form-field>
  </div>
</form>
