<div class="main">
  <mat-toolbar fxLayout="row" color="primary">
    <button (click)="drawer.toggle()" class="menu-btn" mat-icon-button>
      <mat-icon class="no-margin">menu</mat-icon>
    </button>
    <span class="flex-1">
      <b class="d-pad mouse-pointer border-r-med logo-navbar" [routerLink]="['/']"><span>Wpp message</span> </b>
    </span>
    <button mat-icon-button (click)="onSettingsClick()">
      <mat-icon class="no-margin">settings</mat-icon>
    </button>
    <button mat-icon-button (click)="onLogoutClick()">
      <mat-icon class="no-margin">logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container #drawerContainer class="main-content">
    <mat-drawer #drawer [opened]="true" mode="side" class="menu">
      <mat-nav-list>
        <mat-list-item [routerLink]="['/wpp-message']">
          <a matLine class="link" routerLinkActive="link-activated">
            <mat-icon>message</mat-icon>
            <span>Mensagens</span>
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
