<button mat-button (click)='onBackClick()'>Voltar</button>
<app-crud-footer>
  <div>
    <ng-content select='.left-controls'></ng-content>
    <button mat-button (click)='onNewClick()'>Novo</button>
    <button mat-button (click)='onCancelClick()'>Cancelar</button>
    <button mat-button class="mat-button-warn" (click)='onDeleteClick()' [disabled]="!crud.record?.id">Excluir</button>
    <button mat-button class="mat-button-sucess" (click)='onSaveClick()'>Gravar</button>
  </div>
</app-crud-footer>
