:host {
  display: block;
  /* Desconta o tamanho da (toolbar 70 + margin-top 10), pois o vh calcula usando o height da viewport do browser todo,
  no saúde funciona sem o desconto pois é usado um iframe pra cada aba,
  e dentro da aba não tem toolbar nem nada. Quando é usado dentro de um iframe,
  o vh calcula usando a viewport do iframe. */
  height: calc(100vh - 80px);
  margin-top: 10px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  // overflow: hidden;
  overflow: auto;
}

.footer {
  padding: var(--space-med);
  // background-color: var(--white-color);
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;

  .actions {
      display: flex;
      justify-content: flex-end;
      gap: var(--space-med);
  }
}
